# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
prohomezlastfrontend/node_modules/
prohomezbackend/node_modules/
node_modules


# Environment variables
prohomezlastfrontend/.env
prohomezlastfrontend/.env.local
prohomezlastfrontend/.env.*.local
prohomezbackend/.env
prohomezbackend/.env.local
prohomezbackend/.env.*.local

# Build output
prohomezlastfrontend/dist/
prohomezbackend/dist/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?